
/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    list-style: none;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html {
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    
}

.signupcontainer{
    position: relative;
    /* max-width: 828px; 
    min-width: 360px; */
    min-height: 100%;
    min-height: 100vh;
    padding: 0 16px 200px;;
    margin: 0 auto;
    padding-top: 75px; 
    /* background-color: #ffffff5b;  */
    /* text-align: center  ; */
    /* justify-content: space-around;
    border: 1px solid rgb(190, 190, 197);
    /* background-image:  url(https://image.cine21.com/resize/cine21/still/2014/1210/15_19_45__5487e601ae584[W578-].jpg); */
    
    margin: 0;
    top: 200px;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
    background-color: rgb(105, 105, 156);
    border-radius: 9px;
    border-top: 10px solid #7fa1e4;
    border-bottom: 10px solid rgb(198, 223, 194);
    width: 400px;
    height: 500px;
    box-shadow: 1px 1px 108.8px 5.2px rgb(25,31,53);
}

label {
    text-align: start;
    margin-bottom: 30px;
}
input {
    text-align: center;
    
}
input[type=text]{
    position: relative;
    padding-block: 10px;
    padding-inline: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    /* margin-left: 20px; */
    justify-content: space-between;
    right: 0;
    border: 1px solid;
    border-bottom:3px solid #092a8d;
    font-size: medium;
}
input[type="password" i]{
    width: 492px;
    padding-block: 10px;
    padding-inline: 21px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid;
    border-bottom:3px solid #092a8d;
    right: 10px;
    margin-left: 21.79%;
    top: 0;

}
input[class="birth"]{
    width: 18.4%;
    
}
#emailcheckButton{
    margin-top: 20px;
}
#emailLabel{
    position: relative;
    top: 35px;
}
#email{
    position: relative  ;
    
    width: 92%;
    margin-right: 120px;
    margin-left: 180px;
    margin-top: -26px;
    margin-bottom: 10px;
}
#echeckLabel{
    position: relative;
    left: -80px;
    margin-left: 80px;
    top: 32px;
    display: inline-block;
    margin-bottom: 30px;
}
#result2{
    position: relative;
    text-align: center;
}
#echeck{
    position: relative;

    width: 59%;
    margin-right: 5px;
    margin-left: 183px;
    margin-top: -26px;
}
#pw {
    /* margin-bottom: 2px; */
    width: 100%;
    position: relative;
    margin-right: 5px;
    margin-left: 50;
    top: 10px;
}
#name{
    position: relative;
    margin-bottom: 2px;
    margin-left:177px ;
    margin-bottom: 15px;
    width: 60%;
}
.phone{
    position: relative;
    margin-bottom: 2px;
    margin-left:177px ;
    margin-bottom: 15px;
    width: 60%;
}
.birth{
    font-size: small;
    width: 130px;
}
#signupForm{
    display: flex;
    text-align: center;
   /* border: 1px solid #7395d4; */
    flex-direction: column;
}
.phonebox{
    position: relative;
    top: 57px;
}
.birthbox{
    margin-top: 23px;
    display: flex;
    justify-content: center;
    margin-left: 67px;
}

.birthbox>span{
    display: block;
    }
#bdbox{
    position: relative;
    top: 50px;
}
h2{
    text-align: center;
    padding-bottom: 100px;
    font-size: xx-large;
    font-weight: bold;
    
}
#confirmPw{
    position: relative;
    margin-left: 65px;
    left: 115px;
    width: 60%;
}
.confirmPw{
    position: relative;
    top: 50px;
    margin-right: 65px;
    width: 60%;
}
.btn-h {
    /* border: 1px solid #006400; */
			width: 50px;
			height: 50px;
			position: absolute;
            margin-top: 10px;
            margin-right: 10px;
            padding: 0;
			top: 0;
			right: 0;
            cursor: pointer;
            border-radius: 1px;
            border: hidden;
            font-size: 40px;
            background-color: rgba(255, 255, 255, 0);
}
h1{
    position: abso;
    
}
.btn-e{
    margin-top: 0;
    margin-bottom: 10px;
    position: absolute;
    height: 37px;
    width: 100px;
    right: 10px;
    top: 208px;
    border: 1px solid #9fa1a7;
    border-radius: 10px;
}
#signupButton {
    /* color: black; */
    margin-top: 140px;
    font-weight: bold;
    padding-block: 5px;
    padding-inline: 10x;
    margin-left: 570px;
    border-radius: 10px;
    border: 1px solid;
    border-bottom:3px solid #092a8d;
    width: 150px;
}
#echeckLabel{
    position: relative;
    top: 31px;
}
.pwbox{
    position: relative;
    left: -80px;
    margin-left: 80px;
    top: 50px;
    display: inline-block;
    margin-bottom: 30px;
}
.namebox{
    position: relative;
    top: 60px;
}
.email{
    margin-bottom: 0;
    max-width: 492px;
}
.birthdetail{
    width: 100%;
    /* margin-left: 20%;
    left: 177px;
    margin-left: 177px;
    width: 725px; */
}
.ebox{
    margin-bottom: 10px;
    position: relative;
}